html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

body {
	line-height: 1
}

ol,
ul {
	list-style: none
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.cf:before,
.cf:after {
	display: table;
	content: " "
}

.cf:after {
	clear: both
}

.cf {
	*zoom: 1
}

@font-face {
	font-family: "ptsans-reg";
	src: url(../vendor/webfonts/PT_Sans/PTSans-Regular.ttf) format("truetype")
}

@font-face {
	font-family: "ptsans-bold";
	src: url(../vendor/webfonts/PT_Sans/PTSans-Bold.ttf) format("truetype")
}

@font-face {
	font-family: "ptsans-boldItalic";
	src: url(../vendor/webfonts/PT_Sans/PTSans-BoldItalic.ttf) format("truetype")
}

* {
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

h2,
h3,
h4 {
	font-family: "ptsans-reg", sans-serif
}

a,
button,
input,
select,
textarea {
	outline: none;
	border: none
}

body {
	font-family: "ptsans-reg"
}

img {
	width: 100%
}

ul {
	list-style: none
}

select {
	border: none
}

a {
	color: inherit;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: 0.5s ease-in-out;
	-o-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out
}

.cta {
	padding: 22px 33px;
	font-size: 14px;
	border: 1px solid transparent;
	border-radius: 2px
}

.cta:hover {
	border: 1px solid #c7b198;
	color: #c7b198
}

.cta--brown {
	color: #fff;
	background: #c7b198;
	border: 1px solid #c7b198
}

.cta--brown:hover {
	color: #c7b198;
	background: #fff;
	border: 1px solid #c7b198
}

.cta__icon {
	position: relative;
	padding-left: 43px
}

.cta__icon::before {
	position: absolute;
	left: 25px;
	top: 53%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: url(../../assets/images/Layer9@1X.png)
}

.container {
	width: 100%
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width: 1435px
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background: #fff
}

header .wrapper,
nav,
.navigation,
.navigtaion__sm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

header .wrapper {
	padding: 20px 0
}

h1 {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 227px;
	flex: 0 1 227px
}

h1 a {
	width: 100%;
	text-indent: -9999px
}

h1 img {
	float: right
}

.navigtaion__sm li {
	width: 52px;
	height: 52px;
	margin-right: 4px;
	background: #c7b198;
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.navigtaion__sm li:hover a {
	-webkit-transform: rotateY(360deg);
	transform: rotateY(360deg)
}

.hamburger {
	width: 21px;
	cursor: pointer
}

.hamburger__top,
.hamburger__mid,
.hamburger__bottom {
	width: 100%;
	height: 3px;
	margin-top: 4px;
	display: block;
	z-index: 10;
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	background-color: #7f7f7f;
	text-indent: -9999px;
	cursor: pointer
}

.hamburger__top {
	margin-top: 0
}

.cross .hamburger__top {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.cross .hamburger__mid {
	opacity: 0
}

.cross .hamburger__bottom {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg)
}

nav {
	margin-left: 34px
}

nav span {
	font-size: 20px;
	margin-right: 4px
}

.navigation__main {
	position: absolute;
	top: 92px;
	left: 0;
	right: 0;
	background: #fff;
	padding: 0 6%;
	max-height: 0;
	overflow: hidden;
	border-top: 2px solid #cbcbcb
}

.navigation__main--open {
	max-height: 422px
}

.navigation__main li {
	padding: 20px 0;
	font-size: 20px
}

.navigation__main .active,
.navigation__main li a:hover {
	color: #c7b198
}

.banner {
	height: 660px;
	background: url(../../assets/images/bg@1X.png);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.banner .wrapper {
	color: #fff;
	text-align: center;
	padding: 90px 0 0
}

.banner h2 {
	letter-spacing: 1.5px;
	font-size: 40px
}

.banner p {
	margin-top: 38px;
	font-size: 22px
}

.banner div {
	margin-top: 26px
}

.banner .cta--brown {
	margin-right: 4px
}

.product {
	background: #fff url("../../assets/images/bg@1X\(1\).png") no-repeat right top;
	background-size: 100% 100%
}

.product__content {
	width: 50%;
	height: 625px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: space-between;
	-ms-flex-align: space-between;
	align-items: space-between;
	background: #b2a08c;
	opacity: .8
}

.product__content .wrapper {
	padding: 0 83px
}

.product__content h2 {
	letter-spacing: 1.5px;
	font-size: 26px
}

.product__content p {
	color: #fff;
	margin-top: 22px;
	font-size: 26px
}

.product__content .cta {
	margin-top: 26px
}

.service .wrapper {
	padding: 58px 0
}

.service h2 {
	letter-spacing: 1.5px;
	font-size: 26px;
	text-align: center
}

.service h2 span {
	display: block;
	margin-top: 26px;
	letter-spacing: 1px;
	color: #e9a3a6;
	font-size: 20px;
	font-style: italic
}

.service_content,
.service__content--left li,
.service__content--right li {
	margin: 42px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start
}

.service__content-details h3 {
	font-size: 20px
}

.service__content--left li,
.service__content--right li,
.service__content-details {
	margin-left: 16px;
	margin-right: 16px
}

.service__content-details p {
	width: 326px;
	margin-top: 26px;
	color: #e9a3a6;
	font-size: 17px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.service__content--left .service__content-details h3 {
	text-align: right
}

.service__content--right .service__content-details h3 {
	text-align: left
}

.service__content-image {
	width: 116px;
	height: 116px;
	background: #e9a3a6;
	border-radius: 50%;
	position: relative
}

.service__content-image img {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%)
}

.service__content--left li:first-child .service__content-image img {
	top: 5%;
	left: 45%
}

.service__content--left li:nth-child(2) .service__content-image img,
.service__content--left li:nth-child(3) .service__content-image img {
	top: -5%
}

.service__content--right li:nth-child(3) .service__content-image img {
	top: -5%
}

.service__content--right li:first-child .service__content-image img {
	left: 40%
}

.testimony {
	background: #fff url(../../assets/images/asphalt-1867667_1920@1X.png) no-repeat right top;
	background-size: 100% 100%;
	color: #fff;
	height: 930px
}

.testimony .wrapper {
	padding: 124px 0
}

.testimony h2 {
	letter-spacing: 1.5px;
	font-size: 42px;
	text-align: center
}

.testimony__slider {
	margin-top: 87px
}

.testimony__slider .slide {
	width: 300px;
	text-align: center;
	opacity: .8
}

.testimony__slider .slide figure {
	margin: 0 auto;
	width: 174px;
	height: 174px
}

.testimony__slider .slide p,
.testimony__slider .slide h4 {
	margin-top: 46px;
	color: #f8f9fb
}

.testimony__slider .slide p {
	width: 326px;
	margin-left: auto;
	margin-right: auto;
	line-height: 1.2;
	font-size: 22px;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto
}

.testimony__slider .slide h4 {
	font-size: 24px;
	font-family: "ptsans-boldItalic", sans-serif
}

.testimony__slider .slide.slick-center {
	opacity: 1
}

.testimony__slider .slick-dots {
	margin-top: 140px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.testimony__slider .slick-dots li button {
	margin: 0 4px;
	background: transparent;
	width: 5px;
	height: 26px;
	border-radius: 50%;
	border: 5px solid #fff;
	text-indent: -9999px;
	overflow: hidden;
	outline: none
}

.testimony__slider .slick-dots li.slick-active button {
	background: #fff
}

.blog .wrapper {
	padding: 100px 0
}

.blog h2 {
	letter-spacing: 1.5px;
	font-family: "ptsans-bold";
	font-size: 36px;
	text-align: center
}

.blog h2 span {
	display: block;
	margin-top: 16px;
	letter-spacing: 1px;
	color: #e9a3a6;
	font-size: 20px;
	font-style: italic
}

.blog_slider {
	margin-top: 50px
}

.blog_slide.slick-slide {
	margin: 0 10px
}

.blog_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch
}

.blog__content-time {
	width: 104px;
	background: #ebe2d9;
	padding: 50px 20px
}

.blog__content-time span:nth-child(1) {
	font-size: 48px;
	color: #b69874
}

.blog__content-time span:nth-child(2) {
	margin-top: 10px
}

.blog__content-time span:nth-child(2),
.blog__content-time span:nth-child(3) {
	color: #c8b7a5;
	font-size: 18px;
	line-height: 1.4
}

.blog__content-time span {
	display: block;
	text-align: center
}

.blog_content-details {
	padding: 50px;
	background: #fff
}

.blog_content-details h4 {
	font-size: 22px
}

.blog_content-details p {
	color: #999;
	margin-top: 16px;
	line-height: 1.4;
	font-size: 16px
}

footer {
	background: #171717;
	color: #fff
}

.newsletter {
	padding-top: 60px;
	text-align: center
}

.newsletter h3 {
	font-size: 48px
}

.form-container {
	margin-top: 30px
}

.form__control {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.form__control input {
	color: #000;
	width: 427px;
	padding: 20px 15px;
	font-size: 14px
}

.form__control .cta {
	padding: 20px;
	border: none;
	border-radius: 0
}

.form__control .cta:hover {
	opacity: .8
}

.disclaimer {
	padding: 50px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

.disclaimer li {
	margin: 0 10px;
	position: relative
}

.disclaimer li:nth-child(1n+2)::before {
	content: "|";
	position: absolute;
	left: -10px;
	top: 0
}

@media only screen and (max-width:1024px) {
	.product__content {
		width: 100%;
		text-align: center;
		opacity: 1;
		background: rgba(178, 160, 140, .8)
	}
	.service_content {
		display: block
	}
	.service__content--left li:nth-child(2) .service__content-details {
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1
	}
	.service__content--left li:nth-child(2n+1) .service__content-details h3 {
		text-align: left
	}
	.service__content--right li:nth-child(2) .service__content-details {
		-webkit-box-ordinal-group: 0;
		-ms-flex-order: -1;
		order: -1
	}
	.service__content--right li:nth-child(2n+1) .service__content-details h3 {
		text-align: right
	}
	.events_list li {
		-ms-flex-line-pack: stretch;
		align-content: stretch
	}
	.events_list>li>figure {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 30%;
		flex: 0 1 30%
	}
	.events_list-details {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 60%;
		flex: 0 1 60%
	}
	.event_list-details h3 {
		font-size: 20px;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto
	}
	.form__control input {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 80%;
		flex: 0 1 80%
	}
}

@media only screen and (max-width:768px) {
	.product__content {
		padding: 0;
		background: rgba(178, 160, 140, .8)
	}
	.service__content {
		text-align: center;
		width: 90%;
		margin: 0 auto;
		-webkit-box-sizing: border-box;
		box-sizing: border-box
	}
	.service__content--right li:nth-child(1n+1) .service__content-details h3,
	.service__content--left li:nth-child(1n+1) .service__content-details h3,
	.service__content--right li:nth-child(1n+1) .service__content-details p,
	.service__content--left li:nth-child(1n+1) .service__content-details p {
		text-align: center
	}
	.service__content-image {
		display: none
	}
	.events_list li {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center
	}
	.event_list-details h3 {
		font-size: 20px;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
		hyphens: auto
	}
	.form__control input {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 60%;
		flex: 0 1 60%
	}
	.disclaimer {
		display: block;
		text-align: center
	}
	.disclaimer li:nth-child(1n+2)::before {
		content: ""
	}
	.disclaimer li {
		margin-bottom: 8px
	}
}
